<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://iddqdidkfaidclip.github.io/Clipurr-clipboard-manager/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>T/AHycHH+2cBILUoI/VaI3RX+HQD5wi+Fn252Y2AKmU=</string>
</dict>
</plist>
